#main{
    
    text-align: center;
    /* background-image:url("Screenshot (4).png");
    background-position: center; */
  
}
#extra{
  color: rgba(240, 255, 241, 0.011);
}
    
#second{   
    display: inline-block;
    display: flex;

    
    list-style-type: none;
   
   
}

#first{
    display: flex;
    justify-content: center;
   background-color: maroon;
}

a{
    color: white;
    text-decoration: none;
    margin: 20px;
   
}
#content1 {
    display: inline-block;
    border-radius: 20%;
    border-color: maroon;
    border-width: 20%;
    border-style: solid;
    margin-top: 25px;
    a{
        color:maroon;
    }
   
}
